<div class="container"> 
    <h2>Actualizar Propietario</h2>
    <form action="#" method="post">
        <div class="form-group">
            <label for="idOwners">N° Propietario</label>
            <input class="form-control" type="number" name="idOwners" id="idOwners" disabled>
        </div>
        <div class="form-group">
            <label for="nameOwners">Nombres Completos</label>
            <input class="form-control" type="text" name="nameOwners" id="nameOwners" required autocomplete="off"> 
        </div>

        <div class="form-group">
            <label for="documentOwners">Identificación:</label>
            <input class="form-control" type="number" name="documentOwners" id="documentOwners" required autocomplete="off">
        </div>

        <div class="form-group">
            <label for="apartmentOwners">N° Apartamento:</label>
            <input class="form-control" type="number" name="apartmentOwners" id="apartmentOwners" required autocomplete="off">
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit" id="btnUpdateOwners">Actualizar</button>
        </div>
    </form>
</div>